{{ define "main" }}
  {{/* .Content */}}
  <div class="main-wrapper">
  <div class="post-entries-list">
    {{ range site.RegularPages }}
    <div class="post-entry" data-image="{{ .Params.cover.image }}">
      <a href="{{ .RelPermalink }}">
        <h2>{{ .LinkTitle }}</h2>
        <link rel="prefetch" href="{{ .Params.cover.image }}" />
      </a>  
    </div>

      {{/* .Summary */}}
    {{ end }}
</div>

<div class="post-image">
  <picture>
    <div class="picture-wrapper">
      <div id="dynamic-image" ></div>
      <svg viewBox="0 0 10 10" class="svg-placeholder" stroke="currentColor" stroke-width="0.25">
        <line x1="0" y1="0" x2="10" y2="10" />
        <line x1="10" y1="0" x2="0" y2="10" />
      </svg>
    </div>
</picture>

</div>

</div>
{{ end }}